.background {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr;

  &__pattern {
    background-image: url("../../images/pattern-bg.png");
    background-size: cover;
    background-position: center;
  }

  #map {
  }
}
