.background {
  position: relative;

  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 38.5vh 61.5vh;

  &__pattern {
    background-image: url("https://nithinmanoj10.github.io/Find-IP-Address/images/pattern-bg.png");
    background-size: cover;
    background-position: center;

    display: flex;

    h2 {
      margin: 15px auto;
      color: #fff;
      font-weight: 500;
    }

    .form {
      position: absolute;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      &__input {
        height: 35px;
        width: 250px;
        border: none;
        padding: 20px;
        color: var(--col-dark-grey);
        border-radius: 8px 0 0 8px;

        &:focus {
          outline: none;
        }
      }

      &__button {
        width: 45px;
        display: flex;
        background-color: #000;
        border: none;
        border-radius: 0 8px 8px 0;

        &__icon {
          margin: auto;
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  #map {
    z-index: 9;
  }
}
